@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import '../css/components/input.scss';

* {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.v-messages__message {
  font-size: 12px !important;
}